.parserSelector, .deviceTypeSelector,.deviceTypeSelectorInfo,.parserSelectorInfo {
	font-family: 'Montserrat', serif;
	font-size: 16px;
	line-height: 28px;
	width: 450px;
	background: #fefcea;
	background: linear-gradient(to top, #EEE, #FFF);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #888;
	
}

.typeParserMessage {
	margin: 0 0 5px 4px;
	font-family: 'Montserrat', serif;
	font-size: 22px;
	margin: 10px;
	line-height: 35px;
}

.deviceTypeSelectorInfo,.parserSelectorInfo {
	background: linear-gradient(to top, #F9F9F9, #FFF);
	color: 	#00CC66;
	}

.deviceTypeSelector {
	color: #0099FF;
}

.productCard {
	cursor: pointer;
	top: 40px;
	width: 450px;
	height: 200px;
	background: #fefcea;
	background: linear-gradient(to top, #EEE, #FFF);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #888;
}

.productImage {
	width: 160px;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.productImage img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #0099FF;
}

a.hover {
	color: #0099FF;
}

input[name="backButton"] {
	cursor:pointer;
	background: white;
	font-size: 14px;
	width: 100px;
	margin-left:10px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 10px;
	border: 0px solid;
	color: #0099FF;
}

.productName {
	line-height: 30px;
	margin: 0 0 5px 4px;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	font-size: 18px;
	color: #0099FF;
}

.productId, .adittionalInformation {
	line-height: 17px;
	margin: 0 0 5px 4px;
	font-family: 'Roboto Slab', serif;
	font-size: 10px;
	color: #686868;
}

.productPrice, .moneyName {
	line-height: 32px;
	margin: 0 0 5px 4px;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	font-size: 16px;
}

.adittionalInformation {
	position: absolute;
	top: 55px;
	width: 130px;
	margin-left: 290px;
	background: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	padding: 10px;
	border-radius: 10px;
}

.moneyName {
	font-size: 12px;
}